<%- include("template/cabecera", {tituloPagina : "Aplicaciones web"}) %>

<%- include("template/navbar")  %> 

<main class="container__works">
    <h1 class="works__title">Aplicaciones web realizadas</h1>
    <div class="main__proyectos-div">
        <div>
            <h3>Weather App</h3>
            <img src="/assets/images/weather-screen.PNG" alt="">
            <p class="proyectos-text">
                Aplicación que muestra caracteristicas del tiempo según la ubicación del usuario.
            </p>
            <div class="card__buttons">
                <button class="see-app">Ver app</button>
                <button class="fab fa-github"></button>
            </div>
        </div>
        <div>
            <h3 class="proyectos-text">Tip Calculator</h3> 
            <img src="/assets/images/splitter-screen.PNG" alt="">
            <p>
                Calculadora para conocer el monto de la propina y el total por persona de una cuenta.
            </p>
            <div class="card__buttons">
                <button class="see-app">Ver app</button>
                <button class="fab fa-github"></button>
            </div>
        </div>
        <div>
            <h3 class="proyectos-text">To-do list</h3>
            <img src="/assets/images/to-do-screen.PNG" alt="">
            <p>
                Aplicación recordatorio para anotar tareas pendientes a realizar.
            </p>
            <div class="card__buttons">
                <button class="see-app">Ver app</button>
                <button class="fab fa-github"></button>
            </div>
        </div>
    </div>
</main>

</body>
</html>