<%- include("template/cabecera", {tituloPagina : "Mi portfolio - Facundo Mamani"}) %>

<%- include("template/navbar")  %> 

<main class="container">
    <div class="main__title">
        <h1>Facundo Ariel Mamani</h1>
        <h3>Front-end Developer</h3>
    </div>
    <img class="main__photo" src="/assets/images/me.jpg" alt="foto-personal-presentacion">
</main>

<%- include("template/footer") %>