<header>
    <nav class="header__navbar">
        <a href="/">
            <span class="fas fa-home fa-x10"></span>
            <span>
                <span>Home</span>
            </span>
        </a>
        <a href="/apps">
            <span class="fas fa-folder"></span>
            <span>
                <span>Proyectos</span>
            </span>
        </a>
        <a href="/contact">
            <span class="fas fa-envelope"></span>
            <span>
                <span>Contacto</span>
            </span>
        </a>
        <a href="#">
            <span class="fas fa-file"></span>
            <span>
                <span>Curriculum</span>
            </span>
        </a>
    </nav>
</header>